<mat-toolbar>
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->
  <button mat-icon-button><mat-icon aria-hidden="false" aria-label="home icon">home</mat-icon></button>
  <button mat-button>Dashboard</button>
  <button mat-button>Students</button>
  <button mat-button>Courses</button>
  <span class="example-spacer"></span>
  <button mat-button>Login</button>
  <button mat-button>Register</button>
</mat-toolbar>